body {
  background: #f5f8fa;
}

.profile-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
}

.input-group {
  border-radius: 40px;
}

.btn-default-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 40px;
  padding: 0 40px;
}

.btn-default,
.btn-light,
.btn-primary,
.btn-outline-edit,
.btn-outline-primary,
.btn-warning {
  height: 75px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 40px;
  padding: 0 40px;
}

.btn-outline-edit {
  color: #030303;
  border-radius: 40px;
  border: 1px solid #eee;
  background: #fff;
}

.btn-outline-edit:hover {
  border: 1px solid #d7d7d7;
}

.btn-primary {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
}

.bg-transparent {
  background: #f6f6f6 !important;
  /* background: #eeeeee !important; */
}

.bg-primary-transparent {
  background: #eef5ff;
}

.bg-danger-transparent {
  background: #ffefef;
}

.bg-success-transparent {
  background: #e7ffe5;
}

.bg-warning-transparent {
  background: #fef8e8;
}

.rounded-corner {
  border-radius: 40px;
}

.box {
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  width: auto;
  height: auto;
  min-height: 200px;
}

.navbar {
  min-height: 185px !important;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.navbar-brand {
  color: #2e7df1;
  font-weight: 700;
  line-height: 85px;
}

.react-international-phone-input {
  height: 75px !important;
  width: 100%;
  border-radius: 40px !important;
}

.react-international-phone-country-selector button {
  height: 75px !important;
  border-radius: 40px !important;
  border: 1px solid #eee;
  background: #fff;
}

.form-control {
  height: 75px;
  flex-shrink: 0;
  padding: 0 32px;
  border-radius: 40px;
  border: 1px solid #eee;
  background: #fff;
}

.section-3-list {
  list-style: none;
  padding: 0;
  font-size: 18px;
  margin-bottom: 17px;
}

/* make dot before list */
.section-3-list::before {
  content: "";
  background-color: #2e7df1;
  width: 20px;
  height: 20px;
  margin-left: -32px;
  display: inline-block;
  margin-right: 12px;
  background-position: center;
  vertical-align: middle;
  border-radius: 50%;
}

* {
  font-family: "Poppins", sans-serif;
}

h1,
.h1,
.fs-1 {
  font-size: 64px !important;
  font-weight: bold;
}

h2,
.h2,
.fs-2 {
  font-size: 48px !important;
  font-weight: bold;
}

h3,
.h3,
.fs-3 {
  font-size: 36px !important;
  font-weight: bold;
}

h4,
.h4,
.fs-4 {
  font-size: 24px !important;
  font-weight: bold;
}

h5,
.h5,
.fs-5 {
  font-size: 18px !important;
  font-weight: bold;
}

p,
.p,
.fs-6 {
  font-size: 16px !important;
  color: #3d3d3d;
}

p,
.p,
.fs-7 {
  font-size: 16px !important;
  color: #3d3d3d;
}

.shadow-btn {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.05);
}

.pe-auto {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.centered-line {
  display: flex;
  align-items: center;
  color: #979797;
  margin: 32px 0;
}

.centered-line::before,
.centered-line::after {
  content: "";
  flex-grow: 1;
  height: 2px;
  background: #f7f7f7;
  margin: 0 10px;
}

ol li::before {
  content: counter(my-awesome-counter) ". ";
  color: #2e7df1;
  margin-right: 10px;
  font-weight: bold;
}
