.dashboard-body {
  background: #f5f8fa;
  min-height: 100vh;
  margin-bottom: 40px;
}

.input-group {
  border-radius: 40px;
}

.btn-primary,
.btn-outline-secondary {
  height: 75px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 40px;
  padding: 0 40px;
}

.btn-outline-secondary {
  color: #030303;
  border-radius: 40px;
  border: 1px solid #eee;
  background: #fff;
}

.btn-primary {
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.15);
}

.box {
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  width: auto;
  height: auto;
  min-height: 200px;
}

.navbar {
  height: 185px !important;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.navbar-brand {
  color: #2e7df1;
  font-weight: 700;
  line-height: 85px;
}

.form-control {
  height: 75px;
  flex-shrink: 0;
  padding: 0 32px;
  border-radius: 40px;
  border: 1px solid #eee;
  background: #fff;
}

* {
  font-family: "Poppins", sans-serif;
}

h1,
.h1,
.fs-1 {
  font-size: 64px !important;
  font-weight: bold;
}

h2,
.h2,
.fs-2 {
  font-size: 48px !important;
  font-weight: bold;
}

h3,
.h3,
.fs-3 {
  font-size: 36px !important;
  font-weight: bold;
}

h4,
.h4,
.fs-4 {
  font-size: 24px !important;
  font-weight: bold;
}

h5,
.h5,
.fs-5 {
  font-size: 18px !important;
  font-weight: bold;
}

p,
.p,
.fs-6 {
  font-size: 16px !important;
  color: #3d3d3d;
}

p,
.p,
.fs-7 {
  font-size: 16px !important;
  color: #3d3d3d;
}
